parameters:
     level: max
     checkMissingIterableValueType: false
     checkGenericClassInNonGenericObjectType: false
     paths:
         - src
     excludePaths:
         - src/Shared/Infrastructure/Symfony
